[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
pandas = "*"
pillow = "*"
gputil = "*"
tensorflow = "*"
paho-mqtt = "*"
pymongo = "*"
opencv-python = "*"
easydict = "*"
flask-socketio = "*"
flask-cors = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
